{%extends 'base.html'%}
{%block content%}

<div style="direction: rtl;" class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  <div  class="card card-danger">
      <div class="card-header">
        <h3 class="card-title">Delete the Note</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form  method="POST" enctype="multipart/form-data">
      {%csrf_token%}
        <div class="row">
          
       <p class="p-3">Are you really sure to delete this notes?</p>
   
        </div>
        <!-- /.card-body -->
  
        <div class="card-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
  
          <a href="{% url 'notes' %}" type="submit" class="btn btn-primary">Return</a>
        </div>
      </form>
    </div>
  </div>
  </div>
    
{%endblock content%}