      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2021-2022 <a href="https://www.facebook.com/profile.php?id=100007880388921">Mohamed El-saidy</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100007880388921"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="https://www.instagram.com/elsaidy572/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
            <a class="btn-floating btn btn-tw" type="button" role="button" title="Share on twitter" href="https://twitter.com/Mohamed49830451?t=P9xfg8SGqDggvuAwshr4Mw&s=35"rel="noopener"><i class="fab fa-lg ml-1 fa-twitter"></i>
</a>
        </div>
      </footer>